.about{
  background-image: url(../../assets/images/1.jpg);
}
.about__header{
  position: absolute;
  color: white;
  letter-spacing: var(--title-letter-space);
  font-size: xxx-large;
  text-align: center;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
.about__flex-container{
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}
.about__flex-item{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}
.about__flex-item__img{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.about__flex-item__count{
  text-align: center;
  color: white;
  font-size: 70px;
  margin-bottom: 10px;
}
.about__flex-item__text{
  color: white;
  text-align: center;
  font-size: 30px;
}