.gallery {
  margin: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.gallery__item {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.gallery__item:hover {
  transform: scale(1.2);
}
.gallery__item img {
  width: 100%;
}
