.order{
    background-image: url(../../assets/images/bgImages/BgOrder.jpg);  
}
.order__form{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 80%;
    display: flex;
}
.form__left .form__right{
    width: 50%;
    height: 50%;
}
.order__form input,
.order__form textarea, 
.order__form select, 
.order__form button{
    font-size: 18px;
    background-color: var(--bg-color-form);
    padding: 15px;
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid white;
}
.order__form button{
    background-color: var(--primary-bgcolor-btn);
    text-align: center;
    font-weight: 300;
    letter-spacing: 5px;
    width: 30%;
}
.order__form button:hover{
    cursor: pointer;
    background-color: var(--secondary-bgcolor-btn);
}
.order__form input:focus{
    background-color: white;
    outline: none;
}
.order__form textarea:focus{
    background-color: white;
    outline: none;
}
.order__form label{
    color: white;
    margin-left: 15px;
    font-size: large;
}
.order__form select{
    width: 30%;
    padding: 7px !important;
}
.order__header{
    position: absolute;
    color: white;
    letter-spacing: var(--title-letter-space);
    font-size: xxx-large;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}
  

