/* Slideshow container */
.slideshow-container {
    max-width: 98%;
    height: fit-content;
    position: relative;
    margin: 10px auto;
  }
  
  /* Hide the images by default */
  .slide {
    display: none;
  }
  .slide img{
      width: 100%;
      height: 70vh;
  }
  
  /* Next & previous buttons */
  .slide__prev, .slide__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .slide__next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .slide__prev:hover, .slide__next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Number text (1/3 etc) */
  .slide__number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .slide__dot-container{
      text-align: center;
  }
  .slide__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .slide__dot-active, .slide__dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .slide__fade {
    animation-name: slide__fade;
    animation-duration: 1.5s;
  }
  
  
