@import url(./general.css);
@import url(./variables.css);
@import url(./animation.css);
@import url(./blocks/nav.css);
@import url(./blocks/header.css);
@import url(./blocks/service.css);
@import url(./blocks/about.css);
@import url(./blocks/order.css);
@import url(./blocks/contact.css);

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
  }