:root{
    --title-letter-space: 10px;
    --main-bg-color: lightgrey;
    --main-font-weight: 900;
    --section-margin: 0 60px;
    --main-text-color: white;
    --bg-color-form: rgb(94, 201, 201)
}